body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.login-box {
    background-color: white;
    padding: 60px 20px 20px 20px;
    /* 上部の余白を調整 */
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    /* 幅を調整 */
    text-align: center;
    position: relative;
    padding-top: 80px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.login-box h2 {
    color: white;
    text-align: left;
    background-color: #007bff;
    padding: 15px;
    /* 上下のパディングを調整 */
    border-radius: 10px 10px 0 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    font-size: 20px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-group label {
    margin-right: 10px;
    font-size: 18px;

}

.input-group input {
    width: 100%;
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid;
    border-radius: 0;
}

.login-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    float: right;
}

.login-button:hover {
    background-color: #0056b3;
}