body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.thanks-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.thanks-box {
    background-color: white;
    padding: 50px 20px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    position: relative;
}

.thanks-box h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
}

.login-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 20px;
}

.login-button:hover {
    background-color: #0056b3;
}